<h1>ავტორიზაცია</h1>
<form [formGroup]="login">
    <section class="email">
        <mat-form-field class="example-full-width">
            <mat-label>ელფოსტა</mat-label>
            <input matInput type="email"
            formControlName="Email">
            <mat-error *ngIf="login.get('Email').hasError('required')">ველის შევსება აუცილებელია!</mat-error>
            <mat-error *ngIf="login.get('Email').hasError('email')">შეიყვანეთ სწორი იმეილი!</mat-error>
        </mat-form-field>
    </section>
    <section class="password">
        <mat-form-field class="example-full-width">
            <mat-label>პაროლი</mat-label>
            <input matInput type="password"
            formControlName="Password">
            <mat-error *ngIf="login.get('Password').hasError('required')">ველის შევსება აუცილებელია!</mat-error>
            <mat-error *ngIf="!login.get('Password').hasError('required')">შეიყვანეთ მინიმუმ 8 სიმბოლო!</mat-error>
        </mat-form-field>
    </section>
    <section class="forgot_password">
        <a (click)="forgotPasswordPage()">დაგავიწყდა პაროლი?</a>
    </section>
    <section class="signIn">
        <button mat-raised-button color="primary"
        [disabled]="login.invalid"
        >შესვლა</button>
    </section>
</form>
<section class="signUpPage">
    <a (click)="signUpPage()">
        რეგისტრაცია
    </a>
</section>