<div class="container">
    <div class="effect">
        <div>
            <h1>სივრცე თქვენი კომპიუტერისთვის!</h1>
            <p>
                ციფრული ტექნოლოგიები დღითიდღე ვითარდება,
                იმისთვის რომ, აუწყო ციფრულ სამყაროს ფეხი
                საჭიროა გამართული კომპიუტერი. 
                შეუკვეთე სასურველი სერვისი და <strong>გამართე შენი ტექნიკა!</strong>
            </p>
            <button>შეკვეთა</button>
        </div>
    </div>
    <video muted loop autoplay>
        <source src="../../../../assets/futuristic-138082.mp4" type="video/mp4">
    </video>
    <img src="../../../../" alt="">
</div>
