<mat-toolbar>
    <div class="comunication">
        <section class="left">
            <a mat-button href="https://www.google.com/" target="_blank">
                <mat-icon class="mat-18" color="primary">facebook</mat-icon>
            </a>
            <a mat-button href="https://www.google.com/" target="_blank">
                <mat-icon class="mat-18" color="primary">call</mat-icon>
                +995 555 55 55 55
            </a>
        </section>
        <section class="center">
            <h1>Cyber Room</h1>
        </section>
        <section class="right">
            <button mat-raised-button>შესვლა</button>
            <button mat-raised-button color="primary">რეგისტრაცია</button>
        </section>
    </div>
</mat-toolbar>
<mat-toolbar color="primary">
    <div class="navbar">
        <section>
            <div class="dropdownBtn">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="logo"></div>
            <div class="cart-person">
                <div class="cart-favourite"></div>
                <div class="person"></div>
            </div>
        </section>
    </div>
</mat-toolbar>