<mat-toolbar appNavbarScroll>
    <div class="comunication">
        <section class="left">
            <button mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>facebook</mat-icon>
            </button>
        </section>
        <section class="center">
            <h1>Cyber Space</h1>
        </section>
        <section class="right">
            
        </section>
    </div>
</mat-toolbar>
<mat-toolbar color="primary">
    <div class="navbar">
        <div class="logo">
            <img src="../../assets/cyber space2.png" alt="">
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
            (click)="dropdownBtn()">
                <fa-icon [icon]="Bars"></fa-icon>
            </button>
        </div>
        <ul [ngClass]="{'dropdown' : dropdown}">
            <li
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            >მთავარი</li>
            <li 
            routerLink="services"
            routerLinkActive="active"
            >სერვისები</li>
            <li 
            routerLink="about-us"
            routerLinkActive="active"
            >ჩვენს შესახებ</li>
            <li 
            routerLink="contact"
            routerLinkActive="active"
            >კონტაქტი</li>
        </ul>
        <div class="cart"
        [ngClass]="{'dropdown' : dropdown}">
            <button mat-icon-button aria-label="Example icon button with a menu icon"
            matBadge="{{badgeQuantity}}" matBadgeColor="warn">
                <fa-icon [icon]="cart"></fa-icon>
            </button>
        </div>
        <!-- <div class="search" 
        [ngClass]="{'dropdown' : dropdown}">
            <div>
                <input type="search" 
                *ngIf="searchStatus">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div> -->
    </div>
</mat-toolbar>