<mat-toolbar>
    <div class="comunication">
        <section class="left">
            <div>
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="search" 
                *ngIf="searchStatus">
            </div>
        </section>
        <section class="center">
            <h1>Cyber Space</h1>
        </section>
        <section class="right">
            <button mat-raised-button>შესვლა</button>
            <button mat-raised-button color="primary">რეგისტრაცია</button>
        </section>
    </div>
</mat-toolbar>
<mat-toolbar color="primary">
    <div class="navbar">
        <ul>
            <li
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            >მთავარი</li>
            <li 
            routerLink="services"
            routerLinkActive="active"
            >სერვისები</li>
            <li 
            routerLink="about-us"
            routerLinkActive="active"
            >ჩვენს შესახებ</li>
            <li 
            routerLink="contact"
            routerLinkActive="active"
            >კონტაქტი</li>
        </ul>
        <div class="logo"></div>
        <div class="cart">
            <button matBadge="1" matBadgeColor="warn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button matBadge="1" matBadgeColor="warn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>favorite</mat-icon>
            </button>
        </div>
        <div class="user"></div>
    </div>
</mat-toolbar>