mat-toolbar:first-child {
    height: 60px;
    .comunication {
        width: 1400px;
        margin: auto;
        display: flex;
        section {
            display: flex;
            width: calc(100% / 3);
        }
        .left {
            align-items: center;
            div {
                padding: 3px;
                background-color: rgb(255, 255, 255);
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                border: 2px solid rgb(63, 81, 181);
                input {
                    outline: none;
                    border: none;
                    width: 200px;
                    margin-left: 5px;
                    animation-name: show;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    @keyframes show {
                        0% { width: 0px; }
                        100% { width: 200px; }
                    }
                }
            }
        }
        .center {
            justify-content: center;
            align-items: center;
            h1 {
                font-family: cursive;
                font-weight: bold;
                color: rgb(63, 81, 181);
                text-shadow: 1.5px 1.5px 1px rgb(0, 0, 0);
            }
        }
        .right {
            justify-content: flex-end;
            button {
                margin: 7px;
            }
        }
    }
}
mat-toolbar:last-child {
    height: auto;
    box-shadow: 1px 4px 9px 1px rgba(174, 188, 255, 0.8);
    .navbar {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 1400px;
        ul {
            padding: 0;
            display: flex;
            li {
                list-style: none;
                margin: 0px 10px;
                padding: 8px;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    color: rgba(255, 254, 254, 0.703);
                }
            }
            .active {
                text-shadow: 2px 2px 1px rgb(0, 0, 0);
                color: rgba(255, 254, 254, 0.703);
            }
        }
        .cart {
            display: flex;
            align-items: center;
            button {
                margin: 0px 5px;
                mat-icon {
                    font-size: 30px;
                }
            }
        }
    }
}