<div class="cards">
    <div class="card">
        <div class="title">
            <h2>მომსახურება ადგილზე</h2>
        </div>
        <div class="icon">
            <img src="../../../../assets/1.png" alt="">
        </div>
        <div class="description">
            <p>მომსახურება შესაძლებელია მხოლოდ თბილისის მაშტაბით და თბილისთან ახლომდებარე რაიონებში!</p>
        </div>
    </div>
    <div class="card">
        <div class="title">
            <h2>დისტანციური მომსახურება</h2>
        </div>
        <div class="icon">
            <img src="../../../../assets/2.png" alt="">
        </div>
        <div class="description">
            <p>დისტანციური მომსახურებისთვის გადმოწერეთ პროგრამები: <a href="">AnyDesk</a> ან <a href="">TeamViewer</a>!</p>
        </div>
    </div>
    <div class="card">
        <div class="title">
            <h2>ლიცენზირებული პროგრამები</h2>
        </div>
        <div class="icon">
            <img src="../../../../assets/3.png" alt="">
        </div>
        <div class="description">
            <p>ლიცენზირება: Windows 10/11, Office 19/21, AdLocker და ა.შ</p>
        </div>
    </div>
    <div class="card">
        <div class="title">
            <h2>გარანტია</h2>
        </div>
        <div class="icon">
            <img src="../../../../assets/4.png" alt="">
        </div>
        <div class="description">
            <p>1 წლიანი სისტემური/ტექნიკური გარანტია ნებისმიერ სერვისზე!</p>
        </div>
    </div>
</div>