.cards {
    width: 1400px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
        margin: 0px 10px 30px;
        width: 320px;
        height: 300px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        .title {
            background: linear-gradient(to right, #3f51b5 0%, #6877ca 100%);
            width: 100%;
            height: 20%;
            border-radius: 10px 10px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                font-family: BPG Nino Mtavruli;
                margin: 0;
                color: rgb(255, 255, 255);
            }
        }
        .icon {
            width: 100%;
            height: 55%;
            img {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                object-fit: cover;
            }
        }
        .description {
            border-top: 1px solid rgb(63, 81, 181);
            width: 90%;
            height: 25%;
            box-sizing: border-box;
            margin: auto;
            display: flex;
            align-items: center;
            font-family: BPG Nino Mtavruli;
            p {
                margin: 0;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1400px){
    .cards {
        width: 100%;
        justify-content: center;
    }
}
// @media (min-width: 720px) and (max-width: 1070px){
//     .cards {
//         width: 720px;
//         justify-content: center;
//     }
// }