h1 {
    text-align: center;
}
form {
    width: 330px;
    section {
        margin-top: 20px;
        width: 100%;
        mat-form-field {
            width: 100%;
        }
    }
    .submit {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
            width: 70%;
        }
    }
}
.signInPage {
    display: flex;
    justify-content: center;
    a {
        margin-top: 20px;
        transition: .1s linear;
        cursor: pointer;
        &:hover {
            color: rgb(63, 81, 181);
        }
    }
}