app-navbar {
    width: 100%;
    position: fixed;
    z-index: 2;
}
div {
    height: 148px;
}
@media (min-width: 720px) and (max-width: 1070px) {
    div {
        height: 120px;
    }
}
@media (min-width: 360px) and (max-width: 720px){
    div {
        height: 100px;
    }
}