<div class="carousel">
    <div class="slider">
        <div>
            <img src="../../../../assets/1624582106_windows_11_laptop.jpg" alt="">
        </div>
        <div>
            <img src="../../../../assets/pexels-andrew-neel-2312369.jpg" alt="">
        </div>
        <div>
            <img src="../../../../assets/pexels-dan-cristian-pădureț-1476321.jpg" alt="">
        </div>
        <div>
            <img src="../../../../assets/pexels-fauxels-3184454.jpg" alt="">
        </div>
        <div>
            <img src="../../../../assets/pexels-jessica-lewis-creative-583842.jpg" alt="">
        </div>
    </div>
</div>