<h1>რეგისტრაცია</h1>
<form>
    <section class="line_1">
        <mat-form-field class="example-full-width">
            <mat-label>სახელი</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>გვარი</mat-label>
            <input matInput>
        </mat-form-field>
    </section>
    <section class="line_2">
        <mat-form-field class="example-full-width">
            <mat-label>ელფოსტა</mat-label>
            <input matInput type="email">
        </mat-form-field>
    </section>
    <section class="line_3">
        <mat-form-field class="example-full-width">
            <mat-label>მისამართი</mat-label>
            <input matInput type="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>ქუჩა</mat-label>
            <input matInput type="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>სართული/ბინა</mat-label>
            <input matInput type="email">
        </mat-form-field>
    </section>
    <section class="line_4">
        <mat-form-field class="example-full-width">
            <mat-label>ტელეფონი</mat-label>
            <input matInput type="number">
        </mat-form-field>
    </section>
    <section class="line_5">
        <mat-form-field class="example-full-width">
            <mat-label>პაროლი</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>დაადასტურე პაროლი</mat-label>
            <input matInput type="password">
        </mat-form-field>
    </section>
    <section class="submit">
        <button mat-raised-button color="primary">რეგისტრაცია</button>
    </section>
</form>
<section class="signInPage">
    <a (click)="logInPage()">
        ავტორიზაცია
    </a>
</section>