h1 {
    text-align: center;
}
form {
    padding: 0;
    width: 300px;
    box-sizing: border-box;
    section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .line_1, .line_5 {
        mat-form-field {
            width: calc(50% - 10px);
        }
    }
    .line_2, .line_4 {
        mat-form-field {
            width: 100%;
        }
    }
    .line_3 {
        mat-form-field {
            width: 30%;
        }
    }
    .submit {
        display: flex;
        justify-content: center;
        button {
            width: 70%;
        }
    }
}
.signIn {
    margin-top: 10px;
}