.background {
    width: 100%;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    padding-top: 70px;
    .container {
        width: 1400px;
        margin: auto;
        .pages {
            a {
                font-size: 25px;
                color: rgb(63, 81, 181);
                font-family: bpg nino mtavruli;
            }
            .home:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            span {
                font-size: 25px;
                margin: 0px 10px;
            }
        }
        .cart {
            display: flex;
            justify-content: space-between;
            .cart-container {
                margin: 25px 0;
                width: 69%;
                padding: 20px;
                background-color: rgb(255, 255, 255);
                box-sizing: border-box;
                border-radius: 15px;
                box-shadow: 0px 3px 6px rgb(194, 194, 194);
                .th {
                    width: 100%;
                    height: 45px;
                    background-color: rgb(63, 81, 181);
                    border-radius: 5px;
                    display: flex;
                    section {
                        display: flex;
                        align-items: center;
                        a {
                            color: rgb(255, 255, 255);
                            font-family: bpg nino mtavruli;
                        }
                    }
                    .empty,.name {
                        width: 35%;
                    }
                    .price,.code {
                        width: 15%;
                    }
                }
                .td {
                    width: 100%;
                    height: 80px;
                    background-color: rgb(245, 245, 245);
                    margin-top: 10px;
                    border-radius: 5px;
                    box-sizing: border-box;
                    padding: 0px 1%;
                    .service {
                        height: 100%;
                        display: flex;
                        section {
                            display: flex;
                            align-items: center;
                            font-family: bpg nino mtavruli;
                        }
                        .photo,.name {
                            width: 35%;
                            justify-content: space-between;
                            img {
                                width: 70px;
                                height: 70px;
                                margin: auto;
                                border-radius: 3px;
                            }
                        }
                        .price,.code {
                            width: 15%;
                            justify-content: space-between;
                        }
                    }
                }
                .dropdown {
                    display: none;
                }
            }
            .order {
                width: 25%;
                padding: 20px;
                background-color: rgb(255, 255, 255);
                box-sizing: border-box;
                margin: 25px 0;
                border-radius: 15px;
                height: min-content;
                box-shadow: 0px 3px 6px rgb(194, 194, 194);
                h1 {
                    font-family: bpg nino mtavruli;
                    text-align: center;
                }
                .line {
                    width: 100%;
                    height: 1.5px;
                    background-color: rgb(63, 81, 181, 0.3);
                    margin: 20px 0px;
                }
                .sum {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3 {
                        margin: 0 5px;
                        font-family:  bpg nino mtavruli;
                    }
                    h4 {
                        margin: 0 5px;
                        font-weight: bold;
                        color: rgb(63, 81, 181);
                        font-size: 23px;
                    }
                }
                .sendOrder {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    button {
                        margin: 7px 0px;
                        font-family: bpg nino mtavruli;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
    @media (min-width: 1070px) and (max-width: 1400px) {
        .container {
            width: 1050px;
        }
    }
    @media (min-width: 720px) and (max-width: 1070px) {
        .container {
            width: 100%;
            .cart {
                display: block;
                .cart-container {
                    width: 90%;
                    margin: 20px auto;
                }
                .order {
                    width: 40%;
                    margin: auto;
                }
            }
        }
    }
    @media (min-width: 360px) and (max-width: 720px) {
        .container {
            width: 100%;
            .cart {
                display: block;
                .cart-container {
                    width: 90%;
                    margin: 20px auto;
                }
                .order {
                    width: 70%;
                    margin: auto;
                }
            }
        }
    }
}