<div class="background">
    <div class="container">
        <div class="pages">
            <a class="home">მთავარი</a>
            <span> > </span>
            <a> კალათა</a>
        </div>
        <div class="cart">
            <div class="cart-container">
                <div class="table"
                *ngIf="!cartMobileSize">
                    <div class="th">
                        <section class="empty"></section>
                        <section class="name"><a>დასახელება</a></section>
                        <section class="price"><a>ფასი</a></section>
                        <section class="code"><a>კოდი</a></section>
                    </div>
                    <div class="td"
                    *ngFor="let data of cartData; index as i">
                        <div class="service">
                            <section class="photo">
                                <span>{{i+1}}.</span>
                                <img [src]="data.image" alt="">
                            </section>
                            <section class="name">
                                <span>{{data.name}}</span>
                            </section>
                            <section class="price">
                                <span>{{data.price}}₾</span>
                            </section>
                            <section class="code">
                                <span>85475</span>
                                <button mat-mini-fab color="warn" 
                                aria-label="Example icon button with a delete icon"
                                (click)="deleteCartItem(data.key,i,data.price)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </section>
                        </div>
                    </div>
                </div>
                <mat-accordion *ngIf="cartMobileSize">
                    <mat-expansion-panel hideToggle
                    *ngFor="let data of cartData; index as i">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{data.name}}
                            <fa-icon [icon]="dropdown"></fa-icon>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="details">
                            <img [src]="data.image">
                            <span>ფასი:<strong>{{data.price}}</strong>₾</span>
                        </div>
                        <div class="delete">
                            <button mat-flat-button color="warn"
                            (click)="deleteCartItem(data.key,i,data.price)"
                            >კალათადან ამოშლა</button>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="order">
                <h1>ჯამი</h1>
                <div class="line"></div>
                <div class="sum">
                    <h3>სულ თანხა:</h3>
                    <aside>
                        <h4>{{sum}}₾</h4>
                    </aside>
                </div>
                <div class="line"></div>
                <div class="sendOrder">
                    <button mat-flat-button color="primary">შეკვეთის გაგზავნა</button>
                </div>
            </div>
        </div>
    </div>
</div>