.container {
    width: 980px;
    height: 500px;
    .details {
        display: flex;
        width: 100%;
        .image {
            width: 35%;
            img {
                width: 300px;
                height: 230px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .list {
            width: 65%;
            h1 {
                font-family: BPG Nino Mtavruli;
                font-size: 35px;
                margin: 10px 0px;
            }
            ul {
                margin-top: 20px;
                li {
                    margin: 5px;
                    fa-icon {
                        margin-right: 5px;
                        color: rgb(33, 180, 0);
                    }
                    list-style: none;
                    font-size: 17px;
                }
            }
            h2 {
                margin: 30px 0px 0px 20px;
                font-size: 30px;
                font-family: BPG Nino Mtavruli;
                color: rgb(63, 81, 181);
                text-shadow: 2px 1px 2px #000000;
                letter-spacing: 1px;
            }
        }
    }
    .description {
        width: 80%;
        margin-top: 30px;
        span {
            font-size: 17px;
            strong {
                color: rgb(202, 0, 0);
                font-size: 22px;
                font-family: bpg nino mtavruli;
            }
        }
    }
    .add-cart {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        button {
            width: 70%;
            height: 50px;
            font-family: bpg nino mtavruli;
            font-size: 22px;
            letter-spacing: 1px;
            fa-icon {
                margin: 10px;
                font-size: 30px;
            }
        }
        .added {
            background-color: rgb(6, 176, 0);
            color: rgb(255, 255, 255);
        }
    }
}